*.aux
*.bbl
*.blg
*.out
*.pdf
*.ps
*.dvi
*.synctex.gz
__pycache__/
results/
temp/
logs/.ipynb_checkpoints/
logs/__pycache__/
logs/
logs/*.csv
logs/*.txt
logs/*.pth
.ipynb_checkpoints/
run*.sh
analysis.py
sample_commands.sh
.vscode/launch.json
*~
*.ipynb